<div class="container" id="master-container">

  <!-- Heading Row -->
  <div class="row" id="row-heading">
    <div class="col">
      <h1 class="display-5" id="main-heading">ToDo List</h1>
      <hr id="heading-underline">
      <div>Created with Vanilla JS and Bootstrap</div>
    </div>
  </div>

  <!-- Instructions Row -->
  <div class="row" id="row-instructions">
    <div class="col" id="instructions-list">
      <ul>
        <li>Click
          <label class='inst_check checkbox-container'>
            <span class="inst_check checkbox-span"></span>
            <img alt="checkmark" class="inst_check checkmark" src="./check-3.png">
          </label> to cross off items
        </li>
        <li>Click <button class="inst_button btn btn-danger btn-rounded remove-list-item-button disabled">x</button> to
          clear
          items</li>
        <!-- <li>Click and drag to rearrange</li> -->
      </ul>
    </div>
  </div>

  <!-- ToDo List Row -->
  <div class="row" id="row-todo-list">
    <div class="col">

      <div class="card" id="todo-list-card">
        <div id="tasks-completed">
          <p id="tasks-completed-text">0 TASKS COMPLETED</p>

          <!-- Add new item -->
          <div class="input-group">
            <input type="text" class="form-control form-control" id="new-item-text" placeholder="Add new item here...">
            <button class="btn btn-success btn-rounded" id="add-new-item-button">+</button>
          </div>

          <!-- Added list items -->
          <div id="list-items">

          </div>

          <!-- Clear Checked Items -->
          <button class='btn btn-danger' id='clear-checked-items'>Clear checked items</button>

        </div>
      </div>

    </div>
  </div>
</div>


<!-- TOGGLE DRAG BUTTON -->
<!-- <div>
  <span>Toggle Drag: </span>
  <input type='checkbox' id='drag-toggle'>
</div> -->