<!-- Linked Scripts -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"></script>

<!-- Title Jumbotron -->
<div class="jumbotron">
  <div class="container text-center">
    <h1 class="display-4 title" id="example-title">To-Do List (Vanilla JS w/ Sortable)</h1>
  </div>
</div>

<!-- To-Do List Heading -->
<div class="container text-center" id="to-do-title">
  <h1 id="main-title">To-Do</h1>
</div>

<!-- List Container -->
<div class="container" id="list-container">

  <!-- Add new item -->
  <div class="input-group my-3">
    <input type="text" class="form-control form-control-lg mr-1" id="new-item-text-input" placeholder="Add new item here..."
      aria-label="Add new to-do item">
    <button class="btn btn-primary" id="add-new-list-item-button">+</button>
  </div>

  <!-- Added list items -->
  <div class="my-3" id="list-items">

  </div>
</div>


<div class="container mt-5" id="instructions">
  <div class="card mx-auto">
    <h3 class="card-title">Instructions:</h3>
    <ul>
      <li>Add new item text to first textbox.</li>
      <li>Press enter or click '+' button to add.</li>
      <li>Click checkbox to mark through text.</li>
      <li>Click item text to edit.</li>
      <li>Click red 'X' to remove items.</li>
      <li>Click and drag to rearrange.</li>
    </ul>
  </div>
</div>

<div>
  <span>Toggle Drag: </span>
  <input type='checkbox' id='drag-toggle'>
</div>