* {
	/* border: red 1px solid; */
	/* vertical-align: middle; */
}

.display-4 {
	font-size: 3rem;
}

.list-container {
	border: black 1px solid;
	background-color: lightgrey;
	max-width: 800px;
}

#new-item-text-input {
	width: 90%;
	font-size: 1.1rem;
}

#add-list-item-form {
	margin: 20px auto 0;
}

#add-new-list-item-button {
	margin-left: 20px;
}

.list-item {
	/* margin: 0 auto; */
	margin-left: 85px;
}

.line-through {
	text-decoration: line-through;
}

.list-item-text {
	resize: none;
	margin-left: 20px;
	border: none;
	background: transparent;
	width: 70%;
}

.remove-list-item-button {
	margin: 10px 0;
}

/* OTHER */

.vertical-align {
	vertical-align: middle;
}
