/* _________________________________ */
/* COLOR SCHEMES */

* {
	outline: none;
	box-shadow: none !important;
	/* border: 1px solid #ccc !important; */
}

.jumbotron {
	/* background-color: #424b54; */
	background-color: #535b63;
	margin-bottom: 3rem;
	padding: 32px;
	margin: 1rem;
}

body {
	background-color: #93a8ac;
}

#list-container {
	background-color: #56494e;
}

.input-group-text {
	background-color: transparent;
	border: none;
}

/* _________________________________ */
/* MISC STYLING */

#example-title {
	font-size: 3rem;
	margin: 0;
	padding: 1rem;
}

#to-do-title {
	margin-top: 4rem;
	margin-bottom: 1rem;
}

#list-container {
	border: black 1px solid;
	max-width: 800px;
	border-radius: 0.3rem;
}

input[type='checkbox'] {
	cursor: pointer;
}

.card {
	width: 40%;
	/* background-color: transparent; */
	border: black 1px solid;
	padding: 1rem;
	margin-top: 4rem;
}

ul li {
	font-size: 1.25rem;
}

.line-through {
	text-decoration: line-through;
}

.draggable-mirror {
	max-width: 769px;
}
